<!--
  Fichier : candidature-list.component.html
  Rôle : Template HTML associé au composant UserListComponent,
         affichant dynamiquement les offres de candidature.
  Auteur : Teddy
  Date : 24/04/2025
-->

<div class="page-header">
<h2>Liste des candidatures et alternances </h2>

<div class="actions">
<label for="type-select">Filtrer par type :</label>
<select id="type-select" [(ngModel)]="typeFiltre">
  <option value="Tous">Tous</option>
  <option value="ACCEPTEE">Acceptée</option>
  <option value="EN_ATTENTE">En attente</option>
  <option value="REFUSEE">Refusée</option>
</select>

<button *ngIf="authService.isAdmin()" [routerLink]="['/candidatures/create']" class="add-btn">Ajouter</button>
<button *ngIf="authService.isEtudiant()" [routerLink]="['/candidatures/create']" class="add-btn">Ajouter</button>
</div>
</div>

<div class="list">
<div class="card" *ngFor="let candidature of candidatures | filtreStatutCandidature:typeFiltre" @fadeIn>
  <h3>Candidature {{ candidature.id }}</h3>
  <p><strong>Date :</strong> {{ candidature.dateCandidature | date:'dd/MM/yyyy' }}</p>
  <p><strong>Date de disponibilite :</strong> {{ candidature.dateDisponibilite | date:'dd/MM/yyyy' }}</p>
  <p><strong>Message :</strong> {{ candidature.message }}</p>
  <p><strong>Statut :</strong> {{ candidature.statut }}</p>
  <p><strong>Étudiant :</strong> {{ candidature.etudiant.nom }} {{ candidature.etudiant.prenom }}</p>
  <p><strong>Stage :</strong> {{ candidature.stage.titre }}</p>
  <button [routerLink]="['/candidatures', candidature.id]">Voir détail</button>
</div>
<div *ngIf="(candidatures | filtreStatutCandidature:typeFiltre).length === 0" class="empty-message">
  ❌ Aucune candidature disponible.
</div>
</div>