<!--
  Fichier : etudiant-list.component.html
  Rôle : Template HTML associé au composant EtudiantListComponent,
         affichant dynamiquement les offres de etudiant.
  Auteur : Teddy
  Date : 24/04/2025
-->

<div class="page-header">
<h2>Liste des etudiants et alternances </h2>

<div class="actions">
<button [routerLink]="['/etudiants/create']" class="add-btn">Ajouter</button>
</div>
</div>

<div class="list">
<div class="card" *ngFor="let etudiant of etudiants" @fadeIn>
  <h3>{{ etudiant.nom }} {{ etudiant.prenom }}</h3>
  <p><strong>Email :</strong> {{ etudiant.user.email }}</p>
  <p><strong>Téléphone :</strong> {{ etudiant.telephone }}</p>
  <p><strong>Spécialité :</strong> {{ etudiant.specialite }}</p>
  <button [routerLink]="['/etudiants', etudiant.id]">Voir détail</button>
</div>
</div>