<!--
  Fichier : stage-list.component.html
  Rôle : Template HTML associé au composant StageListComponent,
         affichant dynamiquement les offres de stage.
  Auteur : Teddy
  Date : 24/04/2025
-->

<div class="page-header">
<h2>Liste des stages et alternances </h2>

<div class="actions">
<label for="type-select">Filtrer par type :</label>
<select id="type-select" [(ngModel)]="typeFiltre">
  <option value="Tous">Tous</option>
  <option value="STAGE">Stage</option>
  <option value="ALTERNANCE">Alternance</option>
</select>

<button *ngIf="authService.isAdmin()" [routerLink]="['/stages/create']" class="add-btn">Ajouter</button>
<button *ngIf="authService.isEntreprise()" [routerLink]="['/stages/create']" class="add-btn">Ajouter</button>
</div>
</div>

<div class="list">
<div class="card" *ngFor="let stage of stages | filtreType:typeFiltre" @fadeIn>
  <h3>{{ stage.titre }}</h3>
  <p><strong>Lieu :</strong> {{ stage.lieu }}</p>
  <p><strong>Durée :</strong> {{ stage.duree }}</p>
  <p><strong>Entreprise :</strong> {{ stage.entreprise.nom }}</p>
  <p><strong>Type :</strong> {{ stage.type }}</p>
  <p><strong>Description :</strong> {{ stage.description }}</p>
  <button [routerLink]="['/stages', stage.id]">Voir détail</button>
</div>
<div *ngIf="(stages | filtreType:typeFiltre).length === 0" class="empty-message">
  ❌ Aucune offre de stage ou d’alternance trouvée.
</div>
</div>