<!-- 📄 admin-detail.component.html -->
<!-- --------------------------------------------------------------- -->
<!-- Auteur      : Teddy                                             -->
<!-- Description : Vue des détails d'un admin ou alternance            -->
<!-- --------------------------------------------------------------- -->

<div *ngIf="admin">
    <h2>{{ admin.nom }} {{ admin.prenom }}</h2>
    <p><strong>Email :</strong> {{ admin.user.email }}</p>
    <p><strong>Téléphone :</strong> {{ admin.telephone }}</p>
    <p><strong>Adresse :</strong> {{ admin.adresse }}</p>

    <div class="boutons-actions">
      <button type="button" class="modifier" (click)="modifierAdmin()">Modifier ✏️</button>
      <button type="button" class="motdepasse" (click)="modifierMotDePasse()">🔒 Mot de passe</button>
      <button type="button" class="supprimer" (click)="supprimerAdmin()">Supprimer 🗑️</button>
      <button *ngIf="authService.isLoggedIn()" (click)="logout()" class="logout-button">Déconnexion</button>
    </div>
  
    <br>

    <button [routerLink]="['/admins']" class="btn-retour">← Retour à la liste</button>
  </div>
  <div *ngIf="!admin">
    <div class="message-erreur">
        <p>🚫 Aucun admin trouvé pour cet identifiant.</p>
        <button [routerLink]="['/admins']" class="btn-retour">← Retour à la liste</button>
    </div>
  </div>