<!-- 📄 candidature-detail.component.html -->
<!-- --------------------------------------------------------------- -->
<!-- Auteur      : Teddy                                             -->
<!-- Description : Vue des détails d'un candidature ou alternance            -->
<!-- --------------------------------------------------------------- -->

<div *ngIf="candidature">
    <h2>Candidature de {{ candidature.etudiant.nom }} {{ candidature.etudiant.prenom }}</h2>
    <p><strong>Date :</strong> {{ candidature.dateCandidature | date:'dd/MM/yyyy' }}</p>
    <p><strong>Offre :</strong> {{ candidature.stage.titre }}</p>
    <p><strong>Étudiant :</strong> {{ candidature.etudiant.nom }} {{ candidature.etudiant.prenom }}</p>
    <p><strong>Date de disponibilite :</strong> {{ candidature.dateDisponibilite | date:'dd/MM/yyyy' }}</p>
    <p><strong>Message :</strong> {{ candidature.message }}</p>
    <p><strong>Statut :</strong> {{ candidature.statut }}</p>
    <h3 *ngIf="candidature.cvFilename"><i class="fas fa-file-pdf"></i> Aperçu du CV :</h3>
    <iframe *ngIf="cvUrl && candidature.cvFilename" [src]="cvUrl" width="100%" height="400px"></iframe>
    <button class="download-btn" *ngIf="candidature.cvFilename" (click)="downloadCv()">
      📄 Télécharger le CV
    </button>
    <h3 *ngIf="candidature.lettreMotivationFilename"><i class="fas fa-file-pdf"></i> Lettre de motivation :</h3>
    <iframe *ngIf="lettreUrl && candidature.lettreMotivationFilename" [src]="lettreUrl" width="100%" height="400px"></iframe>
    <button class="download-btn" *ngIf="candidature.lettreMotivationFilename" (click)="downloadLettre()">
      📄 Télécharger la lettre de motivation
    </button>

    <div *ngIf="!authService.isEntreprise()" class="boutons-actions">
      <button *ngIf="!authService.isEntreprise()" type="button" class="modifier" (click)="modifierCandidature()">Modifier ✏️</button>
      <button *ngIf="!authService.isEntreprise()" type="button" class="supprimer" (click)="supprimerCandidature()">Supprimer 🗑️</button>
    </div>

    <div *ngIf="authService.isEntreprise()" class="boutons-actions">
      <button *ngIf="authService.isEntreprise()" type="button" class="modifier" (click)="modifierCandidature()">Accepter/Reffuser ✏️</button>
    </div>
  
    <br>

    <button [routerLink]="['/candidatures']" class="btn-retour">← Retour à la liste</button>
  </div>
  <div *ngIf="!candidature">
    <div class="message-erreur">
        <p>🚫 Aucun candidature trouvé pour cet identifiant.</p>
        <button [routerLink]="['/candidatures']" class="btn-retour">← Retour à la liste</button>
    </div>
  </div>