<!-- 📄 entreprise-detail.component.html -->
<!-- --------------------------------------------------------------- -->
<!-- Auteur      : Teddy                                             -->
<!-- Description : Vue des détails d'un entreprise ou alternance            -->
<!-- --------------------------------------------------------------- -->

<div *ngIf="entreprise">
    <h2>{{ entreprise.nom }}</h2>
    <p><strong>Email :</strong> {{ entreprise.user.email }}</p>
    <p><strong>Téléphone :</strong> {{ entreprise.telephone }}</p>
    <p><strong>Adresse :</strong> {{ entreprise.adresse }}</p>
    <p><strong>Site web :</strong> {{ entreprise.siteWeb }}</p>
    <p><strong>Secteur d'activite :</strong> {{ entreprise.secteurActivite }}</p>

    <div class="boutons-actions">
      <button type="button" class="modifier" (click)="modifierEntreprise()">Modifier ✏️</button>
      <button type="button" class="supprimer" (click)="supprimerEntreprise()">Supprimer 🗑️</button>
    </div>
  
    <br>

    <button [routerLink]="['/entreprises']" class="btn-retour">← Retour à la liste</button>
  </div>
  <div *ngIf="!entreprise">
    <div class="message-erreur">
        <p>🚫 Aucun entreprise trouvé pour cet identifiant.</p>
        <button [routerLink]="['/entreprises']" class="btn-retour">← Retour à la liste</button>
    </div>
  </div>