<!-- 📄 etudiant-detail.component.html -->
<!-- --------------------------------------------------------------- -->
<!-- Auteur      : Teddy                                             -->
<!-- Description : Vue des détails d'un etudiant ou alternance            -->
<!-- --------------------------------------------------------------- -->

<div *ngIf="etudiant">
    <h2>{{ etudiant.nom }} {{ etudiant.prenom }}</h2>
    <p><strong>Email :</strong> {{ etudiant.user.email }}</p>
    <p><strong>Téléphone :</strong> {{ etudiant.telephone }}</p>
    <p><strong>Adresse :</strong> {{ etudiant.adresse }}</p>
    <p><strong>Niveau d'étude :</strong> {{ etudiant.niveauEtude }}</p>
    <p><strong>Spécialité :</strong> {{ etudiant.specialite }}</p>

    <div class="boutons-actions">
      <button type="button" class="modifier" (click)="modifierEtudiant()">Modifier ✏️</button>
      <button type="button" class="supprimer" (click)="supprimerEtudiant()">Supprimer 🗑️</button>
      <button *ngIf="authService.isLoggedIn()" (click)="logout()" class="logout-button">Déconnexion</button>
    </div>
  
    <br>

    <button *ngIf="authService.isAdmin()" [routerLink]="['/etudiants']" class="btn-retour">← Retour à la liste</button>
  </div>
  <div *ngIf="!etudiant">
    <div class="message-erreur">
        <p>🚫 Aucun etudiant trouvé pour cet identifiant.</p>
        <button *ngIf="authService.isAdmin()" [routerLink]="['/etudiants']" class="btn-retour">← Retour à la liste</button>
    </div>
  </div>