<!-- ✅ admin-form.component.html -->
<h2>Créer un admin</h2>

<form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
  <label>Nom :</label>
  <input type="text" formControlName="nom" />

  <label>Prenom :</label>
  <input type="text" formControlName="prenom" />

  <label>Email :</label>
  <input type="email" formControlName="email" />

  <label>Téléphone :</label>
  <input type="text" formControlName="telephone" />

  <label>Adresse :</label>
  <input type="text" formControlName="adresse" />

  <label>Mot de Passe :</label>
  <input type="password" formControlName="password" />

  <button type="submit" [disabled]="adminForm.invalid">Créer</button>
</form>