<!-- ✅ candidature-form.component.html -->
<h2>Créer une candidature</h2>

<form [formGroup]="candidatureForm" (ngSubmit)="onSubmit()">

  <label *ngIf="authService.isAdmin()" for="etudiantId">Sélectionner votre nom :</label>
  <select *ngIf="authService.isAdmin()" formControlName="etudiantId" required>
    <option value="">-- Sélectionnez votre profil --</option>
    <option *ngFor="let etudiant of etudiants" [value]="etudiant.id">
      {{ etudiant.prenom }} {{ etudiant.nom }}
    </option>
  </select>

  <br /><br />

  <label for="stageId">Sélectionner un stage :</label>
  <select formControlName="stageId" required>
    <option value="">-- Choisissez un stage --</option>
    <option *ngFor="let stage of stages" [value]="stage.id">
      {{ stage.titre }} ({{ stage.type }})
    </option>
  </select>

  <br /><br />

  <label>Date a partir de laquelle vous ete disponible :</label>
  <input type="date" formControlName="dateDisponibilite">

  <br /><br />

  <label for="message">Message (facultatif) :</label>
  <textarea formControlName="message" rows="4" cols="50"></textarea>

  <br /><br />

  <button type="submit" [disabled]="candidatureForm.invalid">Postuler</button>
</form>