<!--
  Fichier : admin-list.component.html
  Rôle : Template HTML associé au composant AdminListComponent,
         affichant dynamiquement les offres de admin.
  Auteur : Teddy
  Date : 24/04/2025
-->

<h2>Liste des admins et alternances <button [routerLink]="['/admins/create']">Ajouter</button></h2>

<div class="list">
<div class="card" *ngFor="let admin of admins" @fadeIn>
  <h3>{{ admin.nom }} {{ admin.prenom }}</h3>
  <p><strong>Email :</strong> {{ admin.user.email }}</p>
  <p><strong>Téléphone :</strong> {{ admin.telephone }}</p>
  <p><strong>Adresse :</strong> {{ admin.adresse }}</p>
  <button [routerLink]="['/admins', admin.id]">Voir détail</button>
</div>
</div>