<!--
  Fichier : entreprise-list.component.html
  Rôle : Template HTML associé au composant EtrepriseListComponent,
         affichant dynamiquement les offres de entreprise.
  Auteur : Teddy
  Date : 24/04/2025
-->

<div class="page-header">
<h2>Liste des entrprises </h2>

<div class="actions">
<button [routerLink]="['/entreprises/create']" class="add-btn">Ajouter</button>
</div>
</div>

<div class="list">
<div class="card" *ngFor="let entreprise of entreprises" @fadeIn>
  <h3>{{ entreprise.nom }}</h3>
  <p><strong>Email :</strong> {{ entreprise.user.email }}</p>
  <p><strong>Téléphone :</strong> {{ entreprise.telephone }}</p>
  <p><strong>Adresse :</strong> {{ entreprise.adresse }}</p>
  <p><strong>Site web :</strong> {{ entreprise.siteWeb }}</p>
  <p><strong>Secteur d'activite :</strong> {{ entreprise.secteurActivite }}</p>
  <button [routerLink]="['/entreprises', entreprise.id]">Voir détail</button>
</div>
</div>