<!--
  Fichier : user-list.component.html
  Rôle : Template HTML associé au composant UserListComponent,
         affichant dynamiquement les offres de user.
  Auteur : Teddy
  Date : 24/04/2025
-->

<div class="page-header">
<h2>Liste des users et alternances</h2>

<div class="actions">
<label for="type-select">Filtrer par type :</label>
<select id="type-select" [(ngModel)]="typeFiltre">
  <option value="Tous">Tous</option>
  <option value="ADMIN">Admin</option>
  <option value="ENTREPRISE">Entreprise</option>
  <option value="ETUDIANT">Etudiant</option>
</select>
</div>
</div>

<div class="list">
<div class="card" *ngFor="let user of users | filtreRole:typeFiltre" @fadeIn>
  <!-- <h3>{{ user.nom }}</h3> -->
  <p><strong>Email :</strong> {{ user.email }}</p>
  <p><strong>Rôle :</strong> {{ user.role }}</p>
  <button [routerLink]="['/users', user.id]">Voir détail</button>
</div>
</div>