<nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo">
        <a routerLink="/home">Gestion Stages & Alternances</a>
      </div>
      <ul class="navbar-links">
        <li><a routerLink="/home">Accueil</a></li>
        <li><a routerLink="/about">À propos</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/etudiants">Étudiants</a></li>
        <li><a routerLink="/entreprises">Entreprises</a></li>
        <li><a routerLink="/stages">Stages/Alternances</a></li>
        <li><a routerLink="/candidatures">Candidatures</a></li>
        <li><a routerLink="/admins">Admins</a></li>
        <li><a routerLink="/users">Utilisateurs</a></li>
      </ul>
    </div>
  </nav>